#app {
  display: flex;
  flex-direction: column;

  .main-wrapper {
    background: #392e6d;
    background: linear-gradient(45deg, #392e6d, #2e3881);
    flex: 1 0 auto;
  }

  footer {
    flex-shrink: 0;
  }
}

.main-wrapper {
  header {
    background: #fff;
  }

  hr {
    border-color: #fff;
    margin-top: 0;
    max-width: 50%;
  }
}

.content {
  padding: 15px 0;

  p, td, th, h1, h2, h3 {
    color: #fff;
  }

  h1 {
    color: white;
    text-align: center;
  }

  h2 {
    color: white;
    text-align: center
  }


}

* {
  color: #333;
}

html, body, #app {
  height: 100%;
}